<div class="feed-post-container">
    <div class="post-card">
        <p class="post-title"><strong>{{this.title}}</strong></p>
        <p class="post-info">Created by <strong>{{this.user.username}} </strong> on <strong>{{format_date this.createdAt}} </strong></p> 
        <br>
        <div class="post-body">
            {{this.post_body}}
        </div>

        {{num_of_comments this.comments}}

    </div>
</div>